body {
  text-align: center;
  background: linear-gradient(to bottom, black, grey);
  color: white;
  height: 100vh;
}

a {
  color: white;
}

#refresh {
  position:fixed;
  top: 0px;
  right: 0px;
  font-size: 3em;
  margin: 0.2em
}
